//
// @author Will Steinmetz
// @file _side-nav.scss
// licence MIT
// copyright: 2017
// This file defines the side nav styles available in Keroseen.
//
// @required shared-nav
//

@mixin has-keroseen-side-nav() {
  @include keroseen-nav-has-nav();

  @media (min-width: $keroseen-screen-sm) {
    padding-left: keroseen-px-to-rem(250px);
    padding-top: 0;
  }
}

@mixin keroseen-side-nav() {
  @include keroseen-nav-mobile-base();

  @media (min-width: $keroseen-screen-sm) {
    bottom: 0;
    display: block;
    height: 100vh;
    overflow-y: auto;
    padding: keroseen-px-to-rem(20px);
    width: keroseen-px-to-rem(240px);
  }
}

@mixin keroseen-side-nav-identifier() {
  @include keroseen-nav-identifier();

  @media (min-width: $keroseen-screen-sm) {
    margin: 0 0 keroseen-px-to-rem(10px);
  }
}

@mixin keroseen-side-nav-container() {
  margin: 0 keroseen-px-to-rem(-10px);

  @include keroseen-nav-container();
}

@mixin keroseen-side-nav-mobile-open() {
  @include keroseen-nav-mobile-open();
}

@mixin keroseen-side-nav-link() {
  @include keroseen-nav-link();
}
