//
// @author Will Steinmetz
// @file _top-nav.scss
// licence MIT
// copyright: 2017
// This file defines the top nav styles available in Keroseen.
//
// @required shared-nav
//

@mixin has-keroseen-top-nav() {
  padding-top: keroseen-px-to-rem(50px);

  @media (min-width: $keroseen-screen-sm) {
    padding-top: keroseen-px-to-rem(65px);
  }
}

@mixin keroseen-top-nav() {
  box-shadow: 0 keroseen-px-to-rem(2px) keroseen-px-to-rem(5px) 0 rgba(0, 0, 0, .25);
  display: flex;
  height: keroseen-px-to-rem(50px);
  left: 0;
  padding: keroseen-px-to-rem(10px);
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: $keroseen-screen-sm) {
    flex-direction: row;
    height: keroseen-px-to-rem(60px);
    padding: keroseen-px-to-rem(15px);
  }
}

@mixin keroseen-top-nav-fixed() {
  position: fixed;
}

@mixin keroseen-top-nav-identifier() {
  font-size: keroseen-px-to-rem(24px);
  margin-left: keroseen-px-to-rem(5px);

  @media (min-width: $keroseen-screen-sm) {
    font-size: keroseen-px-to-rem(30px);
    margin: keroseen-px-to-rem(-5px) keroseen-px-to-rem(20px) keroseen-px-to-rem(-5px) 0;
  }
}

@mixin keroseen-top-nav-link() {
  @include keroseen-nav-link();

  @media (min-width: $keroseen-screen-sm) {
    display: inline-block;
    margin-left: keroseen-px-to-rem(10px);
  }
}

@mixin keroseen-top-nav-first-link() {
  @media (min-width: $keroseen-screen-sm) {
    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin keroseen-top-nav-main {
  // intentionally left empty
}

@mixin keroseen-top-nav-secondary {
  @media (min-width: $keroseen-screen-sm) {
    margin-left: auto;
  }
}

@mixin keroseen-top-nav-container {
  @media (min-width: $keroseen-screen-sm) {
    display: flex;
    flex-grow: 1;
  }

  @media (max-width: $keroseen-screen-xs) {
    bottom: 0;
    box-shadow: 0 keroseen-px-to-rem(2px) keroseen-px-to-rem(5px) 0 rgba(0, 0, 0, .25);
    left: -86%;
    margin: 0;
    padding: keroseen-px-to-rem(15px);
    position: fixed;
    top: 0;
    transition: left 0.15s ease-in-out;
    width: 85%;
  }
}

@mixin keroseen-top-nav-mobile-open() {
  @media (max-width: $keroseen-screen-xs) {
    left: 0;
  }
}