//
// @author Will Steinmetz
// @file _top-nav.scss
// licence MIT
// copyright: 2017
// This file defines the top nav styles available in Keroseen.
//
// @required shared-nav
//

@mixin has-keroseen-top-nav() {
  padding-top: keroseen-px-to-rem(65px);
}

@mixin keroseen-top-nav() {
  box-shadow: 0 keroseen-px-to-rem(2px) keroseen-px-to-rem(5px) 0 rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: row;
  left: 0;
  padding: keroseen-px-to-rem(20px);
  position: absolute;
  right: 0;
  top: 0;
}

@mixin keroseen-top-nav-fixed() {
  position: fixed;
}

@mixin keroseen-top-nav-identifier() {
  font-size: keroseen-px-to-rem(30px);
  margin: keroseen-px-to-rem(-10px) keroseen-px-to-rem(20px) keroseen-px-to-rem(-10px) 0;
}

@mixin keroseen-top-nav-link() {
  @include keroseen-nav-link();
  margin-left: keroseen-px-to-rem(10px);
}

@mixin keroseen-top-nav-first-link() {
  &:first-child {
    margin-left: 0;
  }
}

@mixin keroseen-top-nav-main {
  // intentionally left empty
}

@mixin keroseen-top-nav-secondary {
  margin-left: auto;
}

@mixin keroseen-top-nav-container {
  display: flex;
  flex-grow: 1;
}