.keroseen-grid:before, .keroseen-grid:after,
.keroseen-grid .row:before,
.keroseen-grid .row:after {
  content: " ";
  display: table; }

.keroseen-grid:after,
.keroseen-grid .row:after {
  clear: both; }

.keroseen-grid .row.spacer {
  margin-bottom: 1em; }

.keroseen-grid [class^="col-"] {
  box-sizing: border-box;
  padding: 0 10px;
  float: left; }

.keroseen-grid.grid-12 .col-xs-1 {
  width: 8.3333333333%; }

.keroseen-grid.grid-12 .offset-xs-1 {
  margin-left: 8.3333333333%; }

.keroseen-grid.grid-12 .col-xs-2 {
  width: 16.6666666667%; }

.keroseen-grid.grid-12 .offset-xs-2 {
  margin-left: 16.6666666667%; }

.keroseen-grid.grid-12 .col-xs-3 {
  width: 25%; }

.keroseen-grid.grid-12 .offset-xs-3 {
  margin-left: 25%; }

.keroseen-grid.grid-12 .col-xs-4 {
  width: 33.3333333333%; }

.keroseen-grid.grid-12 .offset-xs-4 {
  margin-left: 33.3333333333%; }

.keroseen-grid.grid-12 .col-xs-5 {
  width: 41.6666666667%; }

.keroseen-grid.grid-12 .offset-xs-5 {
  margin-left: 41.6666666667%; }

.keroseen-grid.grid-12 .col-xs-6 {
  width: 50%; }

.keroseen-grid.grid-12 .offset-xs-6 {
  margin-left: 50%; }

.keroseen-grid.grid-12 .col-xs-7 {
  width: 58.3333333333%; }

.keroseen-grid.grid-12 .offset-xs-7 {
  margin-left: 58.3333333333%; }

.keroseen-grid.grid-12 .col-xs-8 {
  width: 66.6666666667%; }

.keroseen-grid.grid-12 .offset-xs-8 {
  margin-left: 66.6666666667%; }

.keroseen-grid.grid-12 .col-xs-9 {
  width: 75%; }

.keroseen-grid.grid-12 .offset-xs-9 {
  margin-left: 75%; }

.keroseen-grid.grid-12 .col-xs-10 {
  width: 83.3333333333%; }

.keroseen-grid.grid-12 .offset-xs-10 {
  margin-left: 83.3333333333%; }

.keroseen-grid.grid-12 .col-xs-11 {
  width: 91.6666666667%; }

.keroseen-grid.grid-12 .offset-xs-11 {
  margin-left: 91.6666666667%; }

.keroseen-grid.grid-12 .col-xs-12 {
  width: 100%; }

@media screen and (min-width: 306px) and (orientation: portrait) {
  .keroseen-grid.grid-12 .col-sm-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-sm-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-sm-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-sm-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-sm-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-sm-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-sm-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-12 {
    width: 100%; } }

@media screen and (min-width: 544px) {
  .keroseen-grid.grid-12 .col-sm-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-sm-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-sm-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-sm-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-sm-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-sm-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-sm-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-sm-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-sm-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-sm-12 {
    width: 100%; } }

@media screen and (min-width: 432px) and (orientation: portrait) {
  .keroseen-grid.grid-12 .col-md-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-md-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-md-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-md-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-md-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-md-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-md-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-md-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-md-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-md-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-md-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-md-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-md-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-md-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-md-12 {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .keroseen-grid.grid-12 .col-md-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-md-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-md-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-md-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-md-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-md-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-md-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-md-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-md-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-md-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-md-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-md-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-md-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-md-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-md-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-md-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-md-12 {
    width: 100%; } }

@media screen and (min-width: 558px) and (orientation: portrait) {
  .keroseen-grid.grid-12 .col-lg-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-lg-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-lg-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-lg-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-lg-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-lg-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-lg-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-12 {
    width: 100%; } }

@media screen and (min-width: 992px) {
  .keroseen-grid.grid-12 .col-lg-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-lg-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-lg-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-lg-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-lg-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-lg-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-lg-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-lg-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-lg-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-lg-12 {
    width: 100%; } }

@media screen and (min-width: 675px) and (orientation: portrait) {
  .keroseen-grid.grid-12 .col-xl-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-xl-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-xl-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-xl-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-xl-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-xl-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-xl-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-12 {
    width: 100%; } }

@media screen and (min-width: 1200px) {
  .keroseen-grid.grid-12 .col-xl-1 {
    width: 8.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-2 {
    width: 16.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-3 {
    width: 25%; }
  .keroseen-grid.grid-12 .offset-xl-3 {
    margin-left: 25%; }
  .keroseen-grid.grid-12 .col-xl-4 {
    width: 33.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-5 {
    width: 41.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-6 {
    width: 50%; }
  .keroseen-grid.grid-12 .offset-xl-6 {
    margin-left: 50%; }
  .keroseen-grid.grid-12 .col-xl-7 {
    width: 58.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-8 {
    width: 66.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-9 {
    width: 75%; }
  .keroseen-grid.grid-12 .offset-xl-9 {
    margin-left: 75%; }
  .keroseen-grid.grid-12 .col-xl-10 {
    width: 83.3333333333%; }
  .keroseen-grid.grid-12 .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .keroseen-grid.grid-12 .col-xl-11 {
    width: 91.6666666667%; }
  .keroseen-grid.grid-12 .offset-xl-11 {
    margin-left: 91.6666666667%; }
  .keroseen-grid.grid-12 .col-xl-12 {
    width: 100%; } }

.keroseen-grid .centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 0) and (max-width: 543px) {
  .screen-reader-xs-only,
  .sr-xs-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; } }

@media screen and (min-width: 544px) and (max-width: 767px) {
  .screen-reader-sm-only,
  .sr-sm-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .screen-reader-md-only,
  .sr-md-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .screen-reader-lg-only,
  .sr-lg-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; } }

@media screen and (min-width: 1200px) and (max-width: 100%) {
  .screen-reader-xl-only,
  .sr-xl-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; } }

[class^="visible-"] {
  display: none; }

@media screen and (min-width: 0) and (max-width: 543px) {
  .visible-xs {
    display: block; }
  .visible-xs-inline {
    display: inline; }
  .visible-xs-block {
    display: block; }
  .visible-xs-flex {
    display: flex; }
  .visible-xs-inline-block {
    display: inline-block; }
  .visible-xs-inline-flex {
    display: inline-flex; }
  .visible-xs-inline-table {
    display: inline-table; }
  .visible-xs-list-item {
    display: list-item; }
  .visible-xs-table-caption {
    display: table-caption; }
  .visible-xs-table-column-group {
    display: table-column-group; }
  .visible-xs-table-header-group {
    display: table-header-group; }
  .visible-xs-table-footer-group {
    display: table-footer-group; }
  .visible-xs-table-row-group {
    display: table-row-group; }
  .visible-xs-table-cell {
    display: table-cell; }
  .visible-xs-table-column {
    display: table-column; }
  .visible-xs-table-row {
    display: table-row; } }

@media screen and (min-width: 544px) and (max-width: 767px) {
  .visible-sm {
    display: block; }
  .visible-sm-inline {
    display: inline; }
  .visible-sm-block {
    display: block; }
  .visible-sm-flex {
    display: flex; }
  .visible-sm-inline-block {
    display: inline-block; }
  .visible-sm-inline-flex {
    display: inline-flex; }
  .visible-sm-inline-table {
    display: inline-table; }
  .visible-sm-list-item {
    display: list-item; }
  .visible-sm-table-caption {
    display: table-caption; }
  .visible-sm-table-column-group {
    display: table-column-group; }
  .visible-sm-table-header-group {
    display: table-header-group; }
  .visible-sm-table-footer-group {
    display: table-footer-group; }
  .visible-sm-table-row-group {
    display: table-row-group; }
  .visible-sm-table-cell {
    display: table-cell; }
  .visible-sm-table-column {
    display: table-column; }
  .visible-sm-table-row {
    display: table-row; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .visible-md {
    display: block; }
  .visible-md-inline {
    display: inline; }
  .visible-md-block {
    display: block; }
  .visible-md-flex {
    display: flex; }
  .visible-md-inline-block {
    display: inline-block; }
  .visible-md-inline-flex {
    display: inline-flex; }
  .visible-md-inline-table {
    display: inline-table; }
  .visible-md-list-item {
    display: list-item; }
  .visible-md-table-caption {
    display: table-caption; }
  .visible-md-table-column-group {
    display: table-column-group; }
  .visible-md-table-header-group {
    display: table-header-group; }
  .visible-md-table-footer-group {
    display: table-footer-group; }
  .visible-md-table-row-group {
    display: table-row-group; }
  .visible-md-table-cell {
    display: table-cell; }
  .visible-md-table-column {
    display: table-column; }
  .visible-md-table-row {
    display: table-row; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .visible-lg {
    display: block; }
  .visible-lg-inline {
    display: inline; }
  .visible-lg-block {
    display: block; }
  .visible-lg-flex {
    display: flex; }
  .visible-lg-inline-block {
    display: inline-block; }
  .visible-lg-inline-flex {
    display: inline-flex; }
  .visible-lg-inline-table {
    display: inline-table; }
  .visible-lg-list-item {
    display: list-item; }
  .visible-lg-table-caption {
    display: table-caption; }
  .visible-lg-table-column-group {
    display: table-column-group; }
  .visible-lg-table-header-group {
    display: table-header-group; }
  .visible-lg-table-footer-group {
    display: table-footer-group; }
  .visible-lg-table-row-group {
    display: table-row-group; }
  .visible-lg-table-cell {
    display: table-cell; }
  .visible-lg-table-column {
    display: table-column; }
  .visible-lg-table-row {
    display: table-row; } }

@media screen and (min-width: 1200px) and (max-width: 100%) {
  .visible-xl {
    display: block; }
  .visible-xl-inline {
    display: inline; }
  .visible-xl-block {
    display: block; }
  .visible-xl-flex {
    display: flex; }
  .visible-xl-inline-block {
    display: inline-block; }
  .visible-xl-inline-flex {
    display: inline-flex; }
  .visible-xl-inline-table {
    display: inline-table; }
  .visible-xl-list-item {
    display: list-item; }
  .visible-xl-table-caption {
    display: table-caption; }
  .visible-xl-table-column-group {
    display: table-column-group; }
  .visible-xl-table-header-group {
    display: table-header-group; }
  .visible-xl-table-footer-group {
    display: table-footer-group; }
  .visible-xl-table-row-group {
    display: table-row-group; }
  .visible-xl-table-cell {
    display: table-cell; }
  .visible-xl-table-column {
    display: table-column; }
  .visible-xl-table-row {
    display: table-row; } }

@media screen and (min-width: 0) and (max-width: 543px) {
  .hidden-xs {
    display: none; } }

@media screen and (min-width: 544px) and (max-width: 767px) {
  .hidden-sm {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none; } }

@media screen and (min-width: 1200px) and (max-width: 100%) {
  .hidden-xl {
    display: none; } }

/*# sourceMappingURL=demo.css.map */