extends layout

block title
  title Keroseen UI - buttons demo

block content
  body
    h1 Keroseen UI - buttons demo

    p
      a(href="./") Back to home

    .container
      p
        a(href="").keroseen-action-button
          span.keroseen-action-button-icon +
      p
        a(href="").keroseen-action-button.mini
          span.keroseen-action-button-icon -

    nav.keroseen-action-button-container-right
      a(href="").keroseen-action-button
        span.keroseen-action-button-icon +

    nav.keroseen-action-button-container-left
      a(href="").keroseen-action-button
        span.keroseen-action-button-icon -

    nav.keroseen-action-button-container-center
      a(href="").keroseen-action-button
        span.keroseen-action-button-icon $