extends layout

block title
  title Keroseen UI - cards demo

block content
  body
    h1 Keroseen UI - cards demo

    p
      a(href="./") Back to home

    .container
      .keroseen-grid.grid-12
        .row
          .col-md-4
            .keroseen-card
              .keroseen-card-title My Test Card 1
              .keroseen-card-content
                | 3 wolf moon direct trade vinyl, letterpress williamsburg jianbing selvage microdosing umami sriracha man bun. Poke direct trade cold-pressed neutra.
              .keroseen-card-actions
                a(href="http://google.com/", target="_blank").keroseen-card-action-item Google
                a(href="http://amazon.com/", target="_blank").keroseen-card-action-item Amazon
          .col-md-4
            .keroseen-card
              .keroseen-card-figure
                img(src="./images/pexels-photo-227651.jpg", alt="Spinning Lights").keroseen-card-image
                .keroseen-card-title Spinning Lights Card
              .keroseen-card-content
                .keroseen-card-subtitle Such lights! Much pretty!
                | Tumeric PBR&amp;B narwhal schlitz iPhone cray asymmetrical, kale chips yuccie hot chicken forage snackwave iceland.
              .keroseen-card-actions
                a(href="https://material.io/", target="_blank").keroseen-card-action-item Material Docs
          .col-md-4
            .keroseen-card
              .keroseen-card-figure
                img(src="./images/pexels-photo-325225.jpg", alt="Rainy lights through a car window").keroseen-card-image
              .keroseen-card-title Rainy Lights
              .keroseen-card-content
                | Artisan bushwick wolf, occupy tumeric drinking vinegar gastropub enamel pin butcher retro organic cold-pressed four loko flexitarian.
              .keroseen-card-actions
                a(href="https://angularjs.org/", target="_blank").keroseen-card-action-item Angular
                a(href="https://www.polymer-project.org/", target="_blank").keroseen-card-action-item Polymer
                a(href="https://www.webcomponents.org/", target="_blank").keroseen-card-action-item Web Components
        .row
          .col-md-4
            .keroseen-card.keroseen-card-co-planar.row
              .keroseen-card-container
                .keroseen-card-title My Fake Album
                .keroseen-card-content The Fake Band
              .keroseen-card-figure
                img(src="./images/pexels-photo-89845.jpg", alt="Vinyl Albums Stack in Boxes").keroseen-card-image
