doctype html
html
  head
    title Keroseen UI - demo
    link(rel='stylesheet', href='./demo.css', media='screen')
  body
    h1 Keroseen UI demo
    ul
      li
        a(href="./grid.html") Grid
      li
        a(href="./cards.html") Cards
      li
        a(href="./top-nav.html") Top nav
      li
        a(href="./side-nav.html") Side nav
