doctype html

html
  head
    title Keroseen UI - side nav demo
    link(rel='stylesheet', href='./demo.css', media='screen')
  body.has-keroseen-side-nav
    aside.keroseen-side-nav
      div.keroseen-side-nav-identifier Keroseen
      nav.keroseen-side-nav-container
        a(href="./").keroseen-nav-link Home
        a(href="./grid.html").keroseen-nav-link Grid
        a(href="./cards.html").keroseen-nav-link Cards
        a(href="./top-nav.html").keroseen-nav-link Top nav

    h1 Keroseen UI - side nav demo

    p
      a(href="./") Back to home

    p Basic side nav