extends layout

block title
  title Keroseen UI - top nav demo

block content
  body.has-keroseen-top-nav
    header.keroseen-top-nav.fixed
      span.keroseen-top-nav-menu-button &#8942;
      span.keroseen-top-nav-identifier Keroseen
      section.keroseen-top-nav-container
        nav.keroseen-top-nav-main
          a(href="./").keroseen-nav-link Home
          a(href="./grid.html").keroseen-nav-link Grid
          a(href="./cards.html").keroseen-nav-link Cards
          a(href="./action-buttons.html").keroseen-nav-link Action Buttons
        nav.keroseen-top-nav-secondary
          a(href="./side-nav.html").keroseen-nav-link Side nav

    main
      h1 Keroseen UI - top nav demo

      p
        a(href="./") Back to home

      p Basic top nav
    
    script(type="text/javascript").
      (function() {
        document.querySelector('.keroseen-top-nav-menu-button').addEventListener('click', function(event) {
          document.querySelector('.keroseen-top-nav').classList.toggle('open');
        });
      })();