doctype html

html
  head
    title Keroseen UI - top nav demo
    link(rel='stylesheet', href='./demo.css', media='screen')
  body.has-keroseen-top-nav
    header.keroseen-top-nav
      span.keroseen-top-nav-identifier Keroseen
      nav.keroseen-top-nav-main
        a(href="./").keroseen-nav-link Home
        a(href="./grid.html").keroseen-nav-link Grid
        a(href="./cards.html").keroseen-nav-link Cards
      nav.keroseen-top-nav-secondary
        a(href="./").keroseen-nav-link Home

    h1 Keroseen UI - top nav demo

    p
      a(href="./") Back to home

    p Basic top nav