extends layout

block title
  title Keroseen UI - top nav demo

block content
  body.has-keroseen-top-nav
    header.keroseen-top-nav.fixed
      span.keroseen-top-nav-identifier Keroseen
      section.keroseen-top-nav-container
        nav.keroseen-top-nav-main
          a(href="./").keroseen-nav-link Home
          a(href="./grid.html").keroseen-nav-link Grid
          a(href="./cards.html").keroseen-nav-link Cards
        nav.keroseen-top-nav-secondary
          a(href="./side-nav.html").keroseen-nav-link Side nav

    h1 Keroseen UI - top nav demo

    p
      a(href="./") Back to home

    p Basic top nav